#simple-dialog-title {
  display: flex;
  justify-content: center;
}

.dialogBox label {
  display: flex;
  font-weight: bold;
}

.dialogBox p {
  display: flex;
}

.actors {
  display: flex;
  flex-direction: row;
}

.actors p {
  margin-right: 10px;
}